body {
    font-family: 'Tilt Warp';
}

.navegacao {
    background-color: rgb(46, 46, 46);
}

.nav {
    display: flex;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-left: 1rem;

}

.nav-itens:hover {
    color: #ffee00;
}

.modos {
    padding: 2rem 0;
}

.modos-nav {
    display: none;
    background-color: rgb(46, 46, 46);
    color: #FFFFFF;
    padding: .5rem;
    position: absolute;
    left: 220px;
}

.modos-nav-itens {
    padding: .5rem;
}

.modos-nav-itens:hover {
    color: #ffee00;
    cursor: pointer;
}

.nav-logo-epic {
    display: inline-block;
    width: 35px;
    text-align: center;
    align-items: center;
}

.nav-logo-fortnite {
    display: inline-block;
    width: 150px;
    text-align: center;
    align-items: center;
}

.background {
    width: 100%;
}

.corpo-1 {
    width: 100%;
    background-image: url('../img/fortnite-background3.jpg');
}


.cabecalho-corpo2, .level-corpo2, .corpo-3{
    display: flex;
    gap: 1rem;
}


.corpo-2 {
    background-image: url("../img/fortnite-background3.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}


.personagem-inicio {
    position: relative;
    top: 2vh;
    display: inline-block;
    width: 35vw;    
}


.texto {
    display: inline-block;
}

.texto-estatisticas{
    font-size: 3vw;
    font-style: italic;
    color: #FFFFFF;
    text-shadow: 3px 3px #000000;
    padding-left: 2vw;
    font-weight: bold;
}

.level-corpo2 {
    position: relative;
    top: 35vw;
    padding: 1rem;
}

.texto-corpo2{
    color: #ffffff;
    font-size: 2vw;
    background-color: rgba(0, 238, 255, 0.479);
    padding: .3rem;
}

.texto-corpo2:hover {
    color: #ffee00;
    cursor: pointer;
}

.chapter {
    padding-left: 30%;
    width: 40%;
}

.capitulo {
    padding-top: 1rem;
    color: rgb(255, 255, 255);
    font-size: 3vw;
    text-transform: uppercase;
    font-style: italic;
    padding-left: 33%;
}

.level {
    padding-top: 1rem;
    color: rgb(0, 103, 221);
    font-size: 3vw;
    text-transform: uppercase;
    font-style: italic;
    text-shadow: 2px 2px #000000;
}

.temporada {
    padding-top: 1rem;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 3vw;
    font-style: italic;
    text-shadow: 2px 2px #000000;
}

.corpo-3 {
    padding: 1rem;
}

.rodape {
    background-color: rgb(46, 46, 46);
    color: white;
    display: inline-block;
    text-align: center;
    padding: 3rem;
}

.classificacao {
    padding-bottom: 2rem;
}

.corpo-4 {
    background-image: url("../img/fortnite-background6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.texto-corpo4 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 3vw;
    font-style: italic;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    padding-left: 25%;
}

.video-corpo4 {
    padding-left: 25%;
    width: 50vw;
    padding-bottom: 3rem;
}


.rodape-topo {
    padding-bottom: 3rem;
}

.rodape-topo:hover {
    color: #ffee00;
}