body {
    font-family: 'Tilt Warp';
}

.navegacao {
    background-color: rgb(46, 46, 46);
}

.nav {
    display: flex;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 10px;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-left: 1rem;

}

.nav-itens:hover {
    color: #d1c40f;
}

.nav-logo-epic {
    display: inline-block;
    width: 35px;
    text-align: center;
    align-items: center;
}

.nav-logo-fortnite {
    display: inline-block;
    width: 150px;
    text-align: center;
    align-items: center;
}

.corpo-1 {
    background-image: url('../img/fortnite-background3.jpg');
    /* background-color: #e2e2e2; */
    background-size: cover;
    background-repeat: no-repeat;
}

.background-container {
    width: 50vw;
    position: relative;
    left: 25%;
}

.cabecalho-corpo2, .level-corpo2, .corpo-3{
    display: flex;
    gap: 1rem;
}


.corpo-2 {
    background-image: url("../img/fortnite-background4.png");
    background-size:cover;
    background-repeat: no-repeat;
}


.personagem-inicio {
    position: relative;
    right: 10vw;
    top: 1.8vh;
    display: inline-block;
    width: 35vw;    
}

.level-corpo2 {
    position: relative;
    top: 35vw;
    padding: 1rem;
}

.texto-corpo2{
    color: #ffffff;
    font-size: 2vw;
}

.capitulo, .level{
    color: rgb(0, 103, 221);
    font-size: 3vw;
    text-transform: uppercase;
    font-style: italic;
}

.temporada {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 3vw;
    font-style: italic;
}

.corpo-3 {
    padding: 1rem;
}

